<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Admin Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body{
        background-color:antiquewhite;
      }
      .inner{
        background-color: rgb(144, 22, 22);
      }
      label{
        color: black;
      }
      p{
        color:azure;
      }
    </style>
  </head>
  <body class=" py-5 mt-5">
    <div class="container d-flex flex-column  pt-5  ">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="d-flex justify-content-center">
            <div class="card p-5 shadow-sm inner rounded-3 w-100">
              <form class="text-center " action="/admin" method="post">
                <h3 class="mb-3 display-5 fw-bold text-primary">Admin Login</h3>
                <p class="mb-4 ">Enter your admin credentials</p>
                <div class="error text-danger small mt-1">
                  <%= ans || '' %>
                </div>
                
                <!-- Username Input -->
                <div class="form-floating mb-3">
                  <input
                    name="username"
                    type="text"
                    id="username"
                    class="form-control"
                    placeholder="Admin Username"
                    required
                  />
                  <label for="username">Admin Username*</label>
                  <div class="error ms-0 align-items-start text-start text-danger"></div>
                </div>

                <!-- Password Input -->
                <div class="form-floating mb-3">
                  <input
                  name="password"
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="Enter your password"
                    required
                  />
                  <label for="password">Password*</label>
                  <div class="error ms-0 align-items-start text-danger text-start"></div>
                </div>

                <div class="d-flex justify-content-between mb-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="rememberMe"
                    />
                    <label class="form-check-label" for="rememberMe">
                      Keep me logged in
                    </label>
                  </div>
                  <a href="#" class="text-primary">Forgot password?</a>
                </div>

                <button
                  type="submit"
                  id="butten"
                  class="btn btn-primary w-100 mb-4"
                >
                  Admin Sign In
                </button>
                <p class="">
                  Not an admin? 
                  <a href="/signin" class="text-primary fw-bold">Go to User Login</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/js/auth/adminlogin.js"></script>
  </body>
</html>
