<nav class="navbar p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
      <a class="navbar-brand brand-logo-mini" href="/admin"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
  
  </nav>